<% layout('layouts/logplate') -%>

<div class="page-wrapper">
        <!-- Container fluid  -->
	<div class="container-fluid">
		<!-- Static Slider 10  -->
		<div class="static-slider-head" style="background-image:url(/images/banner-bg.jpg)">
			<div class="container">
				<!-- Row  -->
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
						<h1 class="title">Login</h1>
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<form class="row" action="/login" method="POST">
										<div class="form-group col-md-6">
											<label for="username">User name</label>
											<input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
										</div>
										<div class="form-group col-md-6">
											<label for="password">Password</label>
											<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
										</div>					
										<div class="form-group col-md-12">
											<div class="checkbox checkbox-success">
												<input id="checkbox1" type="checkbox">
												<label for="checkbox1"> Remember me </label>
											</div>
										</div>

										<div class="col-md-12">
											<button type="submit" class="btn btn btn-outline-success m-r-10">Submit</button>
											<a href="/" id="cancel" name="cancel" class="btn btn-inverse waves-effect waves-light">Cancel</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Container fluid  -->
</div>




