<% layout('layouts/boilerplate2') -%>

<h1 class="title">Login</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="row" action="/login" method="POST">
					<div class="form-group col-md-6">
						<label for="username">User name</label>
						<input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
					</div>
					<div class="form-group col-md-6">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
					</div>					
					<div class="form-group col-md-12">
						<div class="checkbox checkbox-success">
							<input id="checkbox1" type="checkbox">
							<label for="checkbox1"> Remember me </label>
						</div>
					</div>

					<div class="col-md-12">
						<button type="submit" class="btn btn btn-outline-success m-r-10">Submit</button>
						<a href="/" id="cancel" name="cancel" class="btn btn-inverse waves-effect waves-light">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>