<% layout('layouts/boilerplate2') -%>
<h1 class="title">Register</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="row" action="/register" method="POST" enctype="multipart/form-data">
			
				<div class="form-group col-md-6">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="username" required>
				</div>
				<div class="form-group col-md-6">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
				</div>
				<div class="form-group col-md-6">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="email" required>
				</div>
				<div class="form-group col-md-6">
					<label for="image" class="btn btn-md m-t-30 btn btn-outline-success waves-ligh font-14">Choose an image</label>
					<input type="file" class="inputfile" id="image" name="image" >
				</div>
				<div class="form-group col-md-12">
					<div class="checkbox checkbox-success">
						<input id="checkbox1" type="checkbox">
						<label for="checkbox1"> Remember me </label>
					</div>
				</div>
				<div class="col-md-12">
						<button type="submit" class="btn btn btn-outline-success m-r-10">Submit</button>						
						<a href="/" id="cancel" name="cancel" class="btn btn-inverse waves-effect waves-light">Cancel</a>
						
					
				</div>
			</form>
		</div>
	</div>
</div>